@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
    --bg-1: #ffffff;
    --bg-2: #f8fafc;
    --text-strong: #0f172a;
    --text-weak: #64748b;
    --primary: #2563eb;
    --border: #e2e8f0;
}

.dark{
    --bg-1: #0f172a;
    --bg-2: #1e293b;
    --text-strong: #f8fafc;
    --text-weak: #94a3b8;
    --primary: #3b82f6;
    --border: #334155;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-1: #0f172a;
        --bg-2: #1e293b;
        --text-strong: #f8fafc;
        --text-weak: #94a3b8;
        --primary: #3b82f6;
        --border: #334155;
    }
}